<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.righteyeglasses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selection_of_glass"
            android:label="Select your face shape" />
        <activity android:name=".informationActivity_oval"
            android:label="Oval"
            />
        <activity android:name=".informationActivity_heart"
            android:label="Heart"
            />
        <activity android:name=".informationActivity_round"
            android:label="Round"
            />
        <activity android:name=".informationActivity_sqaure"
            android:label="Square"
            />
        <activity android:name=".doneReading"
            android:label="Thank You!"
            />
    </application>

</manifest>